@tailwind base;
@tailwind components;
@tailwind utilities;

.footerContainer {
    margin-top: 1rem;
    padding: 2rem;
    background-color: steelblue;
}

.socialMediaList {
    display: "flex";
}

.socialMediaList .socialMediaElement {
    display: flex;
    column-gap: 10px;
}